.containers{
    margin-top: 100px;
    width: 90vw;
}
.ContestForm{
    padding: 10px;
    /* height :80px; */
    border-radius: 10px;
}
.table-container{
    width: 100vw;
    display: flex;
}
.table{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: grid;
}
.table-heading{
    background-color: #7728f6;
    color: white;
    height: 40px;
}

.table-heading,.table-data{
    justify-content: center;
    align-items: center;
}
.table-data{
    background-color: white;
}
.table-data div{
    display: grid;
    height: 40px;
}
.table-heading h3, .table-data p{
    justify-self: center;
    align-self: center;
}
@media (max-width: 1288px){
    .ContestForm{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }
}