
  .anchor{
    text-decoration: none;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    
    text-align: center;   
    background: white;
  }
  .anchor:hover{
    background-color: #ED4700;
    color: white;
    text-decoration:none;
  }

  

@media (max-width: 970px){
.anchor{
    font-size: small;
    width: 90px;
}
}